# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [21]:
# import required libraries
import numpy as np
import pandas as pd

Next, extract and import `Orders` dataset into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [22]:
# your code here
df_orders = pd.read_csv("Orders.csv")

display(orders.head(10))

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent,quantile
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,NaN
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,NaN
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,NaN
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,NaN
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,NaN
5,5,536365,22752,2010,12,3,8,set 7 babushka nesting boxes,2,2010-12-01 08:26:00,7.65,17850,United Kingdom,15.30,NaN
6,6,536365,21730,2010,12,3,8,glass star frosted t-light holder,6,2010-12-01 08:26:00,4.25,17850,United Kingdom,25.50,NaN
7,7,536366,22633,2010,12,3,8,hand warmer union jack,6,2010-12-01 08:28:00,1.85,17850,United Kingdom,11.10,NaN
8,8,536366,22632,2010,12,3,8,hand warmer red polka dot,6,2010-12-01 08:28:00,1.85,17850,United Kingdom,11.10,NaN
9,9,536367,84879,2010,12,3,8,assorted colour bird ornament,32,2010-12-01 08:34:00,1.69,13047,United Kingdom,54.08,NaN

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [23]:
# your code here

spend_per_cust = df_orders.groupby('CustomerID')['amount_spent'].sum()

#print(spend_per_cust)

#we can use qcut

customer_quantiles = pd.qcut(spend_per_cust, q=4, labels=['Low', 'Normal', 'Preferred', 'VIP'])

df_orders['Customer_Type'] = df_orders['CustomerID'].map(customer_quantiles)

#Now we can groupby quantiles and based on that make them either VIPs or preferred customers, 0 being the least attractive customer and 4 being VIP
#We could also split into 3 quantiles

display(df_orders.head(5))

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent,Customer_Type
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,VIP
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,VIP
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,VIP
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,VIP
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,VIP

In [5]:
#This is part 2 - not needed as I can change the labels directly in qcut.

#quant1 = orders[orders['quantile'] == 0]
#quant2 = orders[orders['quantile'] == 1]
#quant3 = orders[orders['quantile'] == 2]
#quant4 = orders[orders['quantile'] == 3]

In [44]:
#This is part 3

#We will add a column labelling customers in quant 3 as Preferred and those in quant 4 as VIP (also found a better way)

#orders['CustomerCategory'] = orders['CustomerCategoty'].astype(str)

#orders.loc[orders['quantile'] == 2, 'customer_category'] = 'Preferred'
#orders.loc[orders['quantile'] == 3, 'customer_category'] = 'VIP'

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [36]:
# your code here
# Lets create a VIP dataframe

vip = df_orders[df_orders['Customer_Type'] == 'VIP']

country_counts_vip = vip['Country'].value_counts()

#print(country_counts_vip)

# I wonder if this is taking all VIP orders as opposed to just VIP customers, I'm a little confused, will test below:
#display(df_orders.describe())
#unique_customer_count = df_orders['CustomerID'].nunique()

print(unique_customer_count)

# There's a fringe edge case where a customer might order from several different countries....
unique_vip_customers = vip.drop_duplicates(subset=['CustomerID'])


vip_country_counts = unique_vip_customers['Country'].value_counts()

print(vip_country_counts)

# The sanity check worked, 4339 is the number of unique customer IDs and 25% of that is just over 1000, so the VIP count appears to be correct

# I'm going to reuse this code for the next section

4339
Country
United Kingdom     932
Germany             39
France              29
Belgium             11
Switzerland          9
Norway               7
Spain                7
Portugal             7
Italy                5
Finland              5
Australia            4
Channel Islands      4
Japan                4
Cyprus               3
Denmark              3
EIRE                 3
Sweden               2
Israel               2
Iceland              1
Netherlands          1
Poland               1
Greece               1
Singapore            1
Lebanon              1
Austria              1
Malta                1
Canada               1
Name: count, dtype: int64

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [43]:
# Lets create a Preferred dataframe

preferred = df_orders[df_orders['Customer_Type'] == 'Preferred']

country_counts_preferred = preferred['Country'].value_counts()

#print(country_counts_vip)

# There's a fringe edge case where a customer might order from several different countries....
unique_preferred_customers = preferred.drop_duplicates(subset=['CustomerID'])

preferred_country_counts = unique_preferred_customers['Country'].value_counts()

#print(preferred_country_counts)

#Then we just need to add them together and add them to a new column in the dataframe
#We need fill value 0 in case there is a country that only has one of the two order types, like just VIP or Preferred
country_vandp = vip_country_counts.add(preferred_country_counts, fill_value=0)

country_vandp_sorted = country_vandp.sort_values(ascending=False)

print(country_vandp_sorted)

Country
United Kingdom          1907.0
Germany                   61.0
France                    50.0
Belgium                   18.0
Spain                     17.0
Switzerland               16.0
Portugal                  10.0
Italy                      8.0
Channel Islands            8.0
Norway                     7.0
Australia                  7.0
Finland                    6.0
Austria                    6.0
Japan                      5.0
Denmark                    5.0
Netherlands                4.0
Sweden                     4.0
Cyprus                     3.0
Greece                     3.0
EIRE                       3.0
Poland                     3.0
United Arab Emirates       2.0
Malta                      2.0
USA                        2.0
Israel                     2.0
Iceland                    1.0
Brazil                     1.0
Canada                     1.0
Czech Republic             1.0
Singapore                  1.0
RSA                        1.0
European Community         1.0
Lithuania                  1.0
Lebanon                    1.0
Unspecified                1.0
Name: count, dtype: float64